pymongo==3.12.3
motor==2.5.1
umongo==3.1.0
marshmallow==3.14.1
dnspython==2.3.0
pyrogram==2.0.106
tgcrypto
requests
beautifulsoup4
python-dotenv
aiohttp
aiofiles
apscheduler
pyromod
jinja2
pyshorteners
colorama
Pillow
psutil
humanize
pytz
ffmpeg-python
opencv-python-headless
numpy
ujson
shortzy
python-decouple
git+https://github.com/Joelkb/cinemagoer
