# Main Dependencies - STRICT PINS
pyrogram>=2.0.30
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
umongo==3.1.0
marshmallow==3.14.1
dnspython==2.3.0

# Required for the bot
requests
beautifulsoup4
python-dotenv
aiohttp
aiofiles
apscheduler
pyromod
jinja2
pyshorteners
colorama

# Utils
Pillow
psutil
humanize
pytz
ffmpeg-python>=0.2.0
opencv-python-headless
numpy
ujson

# Cinemagoer
git+https://github.com/Joelkb/cinemagoer

# Others
shortzy
python-decouple
