# Fixed Hybrid Stack for Python 3.11
pyrogram==2.0.106
tgcrypto
pymongo==3.15.0
motor==2.5.1
umongo==3.1.0
marshmallow==3.14.1
dnspython==2.3.0

# Bot Requirements
requests
beautifulsoup4
python-dotenv
aiohttp
aiofiles
apscheduler
pyromod
jinja2
pyshorteners
colorama

# Utils
Pillow
psutil
humanize
pytz
ffmpeg-python
opencv-python-headless
numpy
ujson

# External
git+https://github.com/Joelkb/cinemagoer
shortzy
python-decouple
